{% extends 'base.html.twig' %}

{% block title %}Edit Postulation{% endblock %}

{% block body %}
<h1>Edit Postulation</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">Save</button>
{{ form_end(form) }}

<a href="{{ path('/postulation') }}">Back to list</a>
{% endblock %}
