{% extends 'base.html.twig' %}

{% block body %}
    <h1>Your Notifications</h1>

    <ul>
        {% for notification in notifications %}
            <li>
                {{ notification.message }} - {{ notification.createdAt|date('Y-m-d H:i:s') }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
